<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Project+ Quiz</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="#page-top">Project+ Quiz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-success bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to  Quiz</h1>
        <p class="lead">Try your knowledge in wide range of different question categories!</p>
        <a class="btn btn-dark" href="select">Play now!</a>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About this quiz</h2>
                <p class="lead">This is a great place to learn and play at the same!</p>
                <ul>
                    <li>Questions divided to different categories: Science, General Knowledge, Sports, Geography, Entertainment and more!
                    </li>
                    <li>Choose between easy, normal and hard difficulty levels. Are you smart enough to handle
                        hard questions?!
                    </li>
                    <li>You can save your answers, gain levels and achievements by answering questions! Just create an
                        account and have fun!
                    </li>
                    <li>You can also write your own questions, submit them and after evaluation by moderators they will
                        be added to quiz!
                    </li>
                    <li>Feel free to send us a feedback on projectplus.quiz@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">projectplus.quiz@gmail.com</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Project+.Quiz 2021</p>
        <span class="m-0 text-center text-white" th:text="${#dates.format(#dates.createNow(),'d MMMM YYYY')}"></span>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
