<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Project+ Quiz - Configuration</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" th:href="@{/}">Project+ Quiz - Configuration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- About section-->
<section id="options">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <form action="#" th:action="@{/select}" th:object="${gameOptions}" method="post">
                    <div class="form-row m-3">
                        <div class="form-group">
                            <h4>Question:</h4>
                            <label for="numberOfQuestionsInput">Number: </label>
                            <input class="form-control" name="numberOfQuestionsInput" id="numberOfQuestionsInput"
                                   th:field="*{numberOfQuestions}" type="number" min="1" max="20" step="1"/>
                        </div>
                    </div>
                    <div class="form-group m-3">
                        <h4>Difficulty:</h4>
                        <th:block th:each="difficulty : ${T(personal_projects.quiz.frontend.Difficulty).values()}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficultyRadioOptions"
                                       th:id="'difficulty_' + ${difficulty}" th:value="${difficulty}"
                                       th:field="*{difficulty}">
                                <label class="form-check-label" th:for="'difficulty_' + ${difficulty}"
                                       th:text="${difficulty}"></label>
                            </div>
                        </th:block>
                    </div>
                    <div class="form-row m-3">
                        <div class="form-group">
                            <h4>Category:</h4>
                            <select class="form-select" th:field="*{categoryId}">
                                <option th:each="category : ${categories}"
                                        th:value="${category.getId()}"
                                        th:text="${category.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row m-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Play!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">projectplus.quiz@gmail.com</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Project+.Quiz 2021</p>
        <span class="m-0 text-center text-white" th:text="${#dates.format(#dates.createNow(),'d MMMM YYYY')}"></span>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
